.typePickerWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  justify-content: center;

  .typePad {
    width: 85px;
    height: 85px;
    border: 1px solid white;
    cursor: pointer;
    background: #89dee2;
    &:hover {
      background-color: #cc1100;
    }
    h2 {
      color: white;
      text-align: center;
    }
  }
  .typePadActive {
    width: 85px;
    height: 85px;
    border: 1px solid white;
    cursor: pointer;
    background: #cc1100;
    transition: all 0.5s linear;

    h2 {
      color: white;
      text-align: center;
    }
  }

  //////////////////////////////////
  .typePadLiquid {
    // content: "";
    position: absolute;
    height: 130px;
    width: 130px;
    //   background: #89dee2;
    background: blue;

    //   background: blue;
    border-radius: 45%;
    bottom: 95%;
    margin-right: 10%;
    animation-fill-mode: forwards;
    animation-name: LiquidAnimation;
    animation-duration: 8s;
    animation-iteration-count: 1;
    z-index: 1;
  }

  @keyframes LiquidAnimation {
    // spin {
    //   transform: translateY(100%) rotate(0deg);
    // }
    // 100% {
    //   transform: translateY(100%) rotate(500deg);
    // }
    from {
      transform: translateY(0%) rotate(0deg);
    }
    to {
      transform: translateY(100%) rotate(360deg);
    }
  }
}
